<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.sakila.mapper.ActorMapper">
	
	<!-- 배우 입력 -->
	<insert id="insertFilmActorByFilmOne" parameterType="Integer">
		INSERT INTO film_actor(
			film_id,
			actor_id
		) VALUES (
			#{filmId},
			#{actorId}
		)
	</insert>
	
	<!-- 배우 삭제 -->
	<delete id="deleteFilmActorByFilmOne" parameterType="Integer">
		DELETE FROM film_actor
		WHERE film_Id = #{filmId}
	</delete>
	
	<insert id="insertActor" parameterType="com.gd.sakila.vo.Actor">
		INSERT INTO actor(
			first_name,
			last_name
		) VALUES (
			#{firstName},
			#{lastName}
		)
	</insert>
	
	<select id="selectActorInfoList" 
			parameterType="com.gd.sakila.vo.Page"
			resultType="java.util.Map">
		SELECT
			actor_id actorId,
			CONCAT(first_name, ' ', last_name) name,
			film_info filmInfo
		FROM actor_info
		<where>
			<if test="searchWord != null">
				CONCAT(first_name, ' ', last_name) LIKE CONCAT('%', #{searchWord}, '%')
			</if>
		</where>
		ORDER BY actor_id DESC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	<select id="selectActorTotal" parameterType="String" resultType="Integer">
		SELECT COUNT(*) FROM actor_info
		<where>
			<if test="searchWord != null">
				CONCAT(first_name, ' ', last_name) LIKE CONCAT('%', #{searchWord}, '%')
			</if>	
		</where>
	</select>
</mapper>