<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.sakila.mapper.BoardfileMapper"><!-- namespace는 package와 같다 -->
	<insert id="insertBoardfile" parameterType="com.gd.sakila.vo.Boardfile">
		INSERT INTO boardfile(
			board_id,
			boardfile_name,
			boardfile_type,
			boardfile_size
		) VALUES (
			#{boardId},
			#{boardfileName},
			#{boardfileType},
			#{boardfileSize}
		)
	</insert>
</mapper>