<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.sakila.mapper.CustomerMapper">
	<select id="selectCustomerList" parameterType="java.util.Map" resultType="com.gd.sakila.vo.CustomerList">
		SELECT *
		FROM customer_list
	</select>
	
	<select id="selectCustomerTotal" parameterType="String" resultType="Integer">
		SELECT COUNT(*) FROM board <!-- 기본키보다 *가 빠르다 -->
		<where>
			<if test="searchWord != null">
				name LIKE CONCAT('%',#{searchWord},'%') <!-- 널이 들어가면 안된다. 차라리 공백이 들어간다. -->
			</if>
		</where>
	</select>

	<update id="updateCustomerActiveByScheduler">
		UPDATE customer c, (SELECT customer_id, max(rental_date), datediff(NOW(), max(rental_date))
        FROM rental
        GROUP BY customer_id
        HAVING datediff(NOW(), max(rental_date)) > 365) A
		SET c.active = 0
		WHERE c.customer_id = A.customer_id
	</update>
</mapper>