<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.sakila.mapper.InventoryMapper">
	<!-- 영화를 선택 시 해당 재고 -->
	<select id="selectInventoryIdList" parameterType="int" resultType="map">
		SELECT 
			inventory_id inventoryId
		FROM inventory
		WHERE film_id = #{filmId}
	</select>
	
	<!-- 재고 삭제 -->
	<delete id="deleteInventory" parameterType="Integer">
		DELETE FROM inventory
		WHERE inventory_id = #{inventoryId}
	</delete>

	<!-- 재고추가 -->
	<insert id="insertInventory" parameterType="java.util.Map">
		INSERT INTO inventory(
			film_id,
			store_id
		)VALUES(
			#{filmId},
			#{storeId}
		)
	</insert>

	<select id="selectInventoryList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT 
			f.film_id filmId,
			i.store_id storeId, 
		    f.title title, 
		    COUNT(*) AS totalInventory,
			SUM(NOT inventory_in_stock(i.inventory_id)) AS rental, 
			SUM(inventory_in_stock(i.inventory_id)) AS stock
		FROM film f, inventory i
		WHERE f.film_id = i.film_id 
			<if test="searchWord != null">
				AND f.title LIKE CONCAT('%',#{searchWord},'%')
			</if>
			<if test="storeId != null">
        		AND i.store_id = #{storeId}
			</if>
		GROUP BY i.film_id, i.store_id 
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
   
	<select id="selectInventoryTotal" parameterType="map" resultType="Integer">
   		SELECT COUNT(*)
		FROM film f, inventory i
		WHERE f.film_id = i.film_id 
			<if test="storeId != null">
				AND i.store_id = #{storeId}
			</if>
			<if test="searchWord != null">
				AND f.title LIKE CONCAT('%', #{searchWord}, '%')
			</if>
	</select>
</mapper>