<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.sakila.mapper.LanguageMapper">
	<select id="selectLanguageList"
			resultType="com.gd.sakila.vo.Language">
		SELECT 
			language_id languageId,
			name
		FROM language		
	</select>
</mapper>