<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.sakila.mapper.SalesMapper">
	<!-- 베스트 셀러 빌린횟수 top10 -->
	<select id="selectBestSellerTop10" resultType="map">
		SELECT 
			f.film_id filmId,
			f.title title, 
			COUNT(*) cnt
		FROM rental r INNER JOIN inventory i ON r.inventory_id = i.inventory_id
		              INNER JOIN film f ON i.film_id = f.film_id
		GROUP BY f.title
		ORDER BY COUNT(*) DESC
		LIMIT 10
	</select>
	
	<!-- 카테고리별 매출 -->
	<select id="selectSalesByCategoryList" resultType="map">
		SELECT
			category category,  
			total_sales totalSales
		FROM sales_by_film_category
	</select>
	
	<!-- 선택된 해당 년도의 월별 매출 -->
	<select id="selectMonthlySalesList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			s.store_id storeId,
			CONCAT(c.city, _utf8mb4',', cy.country) AS address, 
			CONCAT(m.first_name, _utf8mb4' ', m.last_name) AS manager, 
			SUM(p.amount) AS totalSales, 
			YEAR(p.payment_date) AS year, 
			MONTH(p.payment_date) AS month
		FROM payment AS p
			INNER JOIN rental AS r ON p.rental_id = r.rental_id
			INNER JOIN inventory AS i ON r.inventory_id = i.inventory_id
			INNER JOIN store AS s ON i.store_id = s.store_id
			INNER JOIN address AS a ON s.address_id = a.address_id
			INNER JOIN city AS c ON a.city_id = c.city_id
			INNER JOIN country AS cy ON c.country_id = cy.country_id
			INNER JOIN staff AS m ON s.manager_staff_id = m.staff_id
		<where>
			<if test="storeId != null">
				AND i.store_id = ${storeId}
			</if>
		</where>
		GROUP BY s.store_id, MONTH(p.payment_date)
		ORDER BY p.payment_date DESC
	</select>
</mapper>