<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.sakila.mapper.StaffListViewMapper">
	<select id="selectStaffList" parameterType="com.gd.sakila.vo.Page" resultType="com.gd.sakila.vo.StaffListView">
		SELECT 
			ID, 
			NAME, 
			address, 
			`zip code` zipCode, 
			phone, 
			city, 
			country, 
			SID
		FROM staff_list
		<where>
			<if test="searchWord != null">
				NAME LIKE CONCAT('%',#{searchWord},'%')
			</if>
		</where>
		ORDER BY ID
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
</mapper>